.book-preview {
  position: relative;
  text-align: center;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-preview h1,
h6 {
  text-transform: capitalize;
  color: var(--gray1);
}

.book-preview img {
  max-width: 100px;
}

.book-preview .sale-img {
  position: absolute;
  top: -10px;
  height: 50px;
  width: 50px;
  transform: rotate(-30deg);
}
