.book-list {
  list-style: none;
  padding: 15px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  gap: 10px;
  margin-top: 0;
}

.book-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr1bg);
  border-radius: 10px;
  padding: 0.4rem;
}

.book-list li:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}
