:root {
  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

  --clr1: #640d5f;
  --clr1bg: #a24d7c;
  --clr1bg-light: #d4a6c6;
  --clr1-light: #7d2c7f;

  --clr2: #ffb200;
  --clr2bg: #ffe57f;
  --clr2bg-light: #fff9c4;
  --clr2-light: #ffcd00;

  --clr3: #eb5b00;
  --clr3bg: #ff8a3d;
  --clr3bg-light: #ffcc8f;
  --clr3-light: #f29100;

  --clr4: #d91656;
  --clr4bg: #ff6f8f;
  --clr4bg-light: #ffb2c8;
  --clr4-light: #e53a7a;
}
